appdirs==1.4.0
click==6.7
cycler==0.10.0
enum-compat==0.0.2
eventlet==0.20.1
Flask==0.12
greenlet==0.4.12
h5py==2.6.0
itsdangerous==0.24
Jinja2==2.9.5
Keras==1.2.1
MarkupSafe==0.23
matplotlib==2.0.0
numpy==1.12.0
olefile==0.44
opencv-python==3.2.0.6
packaging==16.8
pandas==0.19.2
Pillow==4.0.0
protobuf==3.1.0.post1
pyparsing==2.1.10
python-dateutil==2.6.0
python-engineio==1.1.2
python-socketio==1.6.3
pytz==2016.10
PyYAML==3.12
scipy==0.18.1
six==1.10.0
tensorflow==0.12.1
Theano==0.8.2
Werkzeug==0.11.15
